$general-size-radius-comp: 4px;
$general-size-radius-spec-container: 8px;
$general-size-height-icon-action-s: 18px;
$general-spacing-padding-action-s-hor: 22px;
$general-spacing-padding-menu-m-hor: 16px;
$general-spacing-gap-action: 8px;
$general-spacing-padding-action-xs-hor: 12px;
$general-spacing-padding-formComp-s-hor: 14px;
$general-size-height-comp-s: 40px;
