$color-brand-orange-100: #e69636;
$color-brand-orange-60: #f0c086;
$color-brand-orange-30: #f7dfc3;
$color-brand-orange-10: #fcf4eb;
$color-brand-orange-0: #e6963600;

$color-brand-turquoise-100: #7cb8c0;
$color-brand-turquoise-50: #bddbdf;
$color-brand-turquoise-20: #e5f1f2;
$color-brand-turquoise-10: #f2f8f9;
$color-brand-turquoise-0: #7cb8c000;
$color-brand-turquoise-10: rgba(124, 184, 192, 0.1);
$color-brand-turquoise-20: rgba(124, 184, 192, 0.2);

$color-brand-red-100: #cd141e;
$color-brand-red-50: #e6898e;
$color-brand-red-20: #f5d0d2;
$color-brand-red-10: #fae7e8;
$color-brand-red-0: #ed141e00;

$color-brand-blue-100: #007bc4;
$color-brand-blue-50: #80bde1;
$color-brand-blue-20: #cce5f3;

$color-base-black-100: #000000;
$color-base-black-80: #333333;
$color-base-black-70: #555555;
$color-base-black-60: #666666;
$color-base-black-40: #919191;
$color-base-black-30: #d9d9d9;
$color-base-black-5: #f2f2f2;
$color-base-black-0: #00000000;
$color-base-black-transparency-40: rgba(0, 0, 0, 0.4);
$color-base-black-transparency-30: rgba(0, 0, 0, 0.3);
$color-base-black-transparency-20: rgba(0, 0, 0, 0.2);
$color-base-black-transparency-10: rgba(0, 0, 0, 0.1);
$color-base-white-100: #ffffff;
$color-base-white-0: #ffffff00;
$color-base-white-transparency-40: rgba(255, 255, 255, 0.4);
$color-base-white-transparency-30: rgba(255, 255, 255, 0.3);
$color-base-white-transparency-20: rgba(255, 255, 255, 0.2);
$color-base-white-transparency-10: rgba(255, 255, 255, 0.1);
